<launch>
  <master auto="start"/>

  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find navigation_stage)/stage_config/worlds/willow-pr2-5cm.world" respawn="false" >
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>


  <!--激光雷达里程计-->
  <!--<include file="$(find project)/launch/params/rf2o.launch.xml" />-->
  <!--定位-->
  <!--<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization"> 
        <remap from="odometry/filtered" to="odom" />
        <rosparam command="load" file="$(find project)/launch/params/robot_localization.yaml" />
  </node>-->
 <!--蒙特卡罗-->
  <!--<include file="$(find project)/launch/params/amcl.launch.xml">
        <arg name="init_x" value="0.0"/>
        <arg name="init_y" value="0.0"/>
        <arg name="init_a" value="0.0"/>
  </include>-->

  <include file="$(find project)/launch/params/slam_gmapping.xml" />
  <include file="$(find project)/launch/params/move_base.xml" />
  <include file="$(find project)/launch/global_map.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation_stage)/single_robot.rviz" />
</launch>
